# dirs
stories
tests
.github
.docz
scripts
.yarn
.docz
.vscode
gatsby-theme-docz

# config
.prettierrc
.prettierignore
.eslintignore
.eslintrc.json
.babelrc.build.json
.babelrc
commitlint.config.js
jest.config.js
gatsby-config.js